# History files
.Rhistory
.Rapp.history

# Session Data files
.RData

# User-specific files
.Ruserdata

# Example code in package build process
*-Ex.R

# Output files from R CMD build
/*.tar.gz

# Output files from R CMD check
/*.Rcheck/

# RStudio files
.Rproj.user/

# produced vignettes
vignettes/*.html
vignettes/*.pdf

# OAuth2 token, see https://github.com/hadley/httr/releases/tag/v0.3
.httr-oauth

# knitr and R markdown default cache directories
*_cache/
/cache/

# Temporary files created by R markdown
*.utf8.md
*.knit.md

# R Environment Variables
.Renviron

# ArcGIS and QGIS mapping projects
maps/

# Scratch folder
scratch/

# Documents folder
docs/

# Data folders
archive/
data/archive/
data/spatial/mod/boundaries/
data/spatial/mod/ics-fired/single-part_hull.gpkg
data/spatial/mod/ics-fired/ics-fired_1km_flat-bevel.gpkg
data/spatial/mod/ics-fired/ics-fired_west_plus.zip
data/spatial/mod/wf-incidents/ics209plus_wf_incidents_spatial_west_1999to2020_qc.gpkg
data/spatial/mod/wf-incidents/wf_incidents_west_bupr_summaries.gpkg
data/spatial/mod/wf-incidents/wf_incidents_west_bupr_summaries.shp
data/spatial/mod/wf-incidents/wf_incidents_west_bupr_summaries.dbf
data/spatial/mod/wf-incidents/wf_incidents_west_bupr_summaries.shp.xml
data/spatial/mod/wf-incidents/wf_incidents_west_bupr_summaries.shx
!*.gpkg-shm
!*.gpkg-wal
data/tabular/raw/famweb/
data/spatial/mod/ics-fired.zip
data/spatial/raw/boundaries/Spatial_Boundaries_NHGIS/
data/spatial/mod/ics-fired/mtbs_perims_w_incidents.gpkg
data/tabular/raw/wf-incidents/ics-209-plus-2.0/ics209-plus-wf_sitreps_1999to2020.csv

# IPYNB checkpoints
code/Python/.ipynb_checkpoints

# R code to ignore
code/archive/
code/R/scratch.R
!*.DS_Store
Code/.DS_Store
.DS_Store

# Misc
figs/
figs/archive/